[submodule "lib/theme-painter"]
	path = lib/theme-painter
	url = https://github.com/NateWr/theme-painter.git
[submodule "lib/content-layout-control"]
	path = lib/content-layout-control
	url = https://github.com/NateWr/content-layout-control.git
[submodule "lib/totc-theme-setup"]
	path = lib/totc-theme-setup
	url = https://github.com/NateWr/totc-theme-setup.git
