//
// Mix-ins, functions, etc.
//

.clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Input field placeholders
.placeholder() {
	&:-moz-placeholder,          // Firefox 4-18
	&::-moz-placeholder,         // Firefox 19+
	&:-ms-input-placeholder,     // Internet Explorer 10+
	&::-webkit-input-placeholder // Safari and Chrome
	{
		opacity: 50%;
	}
}

// Remove indentation and bullets from lists
.unstyled-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Containers at various screen widths
.container {
	padding-left: @double;
	padding-right: @double;

	@media( min-width: @screen-sm ) {
		width: @screen-sm - (@double * 2);
		margin-left: auto;
		margin-right: auto;
	}

	@media( min-width: @screen-md ) {
		width: @screen-md - (@double * 2);
	}

	@media( min-width: @screen-lg ) {
		width: @screen-lg - (@double * 2);
	}
}

// Transform vendor prefixes
.transform( @transform ) {
	-webkit-transform: @transform;
	-ms-transform: @transform;
	transform: @transform;
}

// Animation prefixes
.animation(@animation) {
	-webkit-animation: @animation;
	-moz-animation: @animation;
	-o-animation: @animation;
	animation: @animation;
}
