//
// Re-usable components
//

// Social icons menu
.luigi-social-menu {
	line-height: 0; // collapse space added by inline <ul>

	ul {
		&:extend(.unstyled_list);
		.clearfix();
		display: inline-block;
	}

	li {
		float: left;
		padding-right: @double;
		padding-bottom: @base;

		&:last-child {
			padding-right: 0;
		}
	}

	a {
		display: block;
		border: @border-line;
		color: @text-light;
		text-align: center;
		outline: 0;

		&:hover,
		&:focus {
			background: @primary;
			color: #fff;
			border-color: @primary;
		}
	}
}

.luigi-caret-down {
	content: '';
	display: inline-block;
	position: relative;
	top: -2px;
	width: 0;
	height: 0;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	vertical-align: middle;
}

.clc-component-layout {
	width: 100%;
	padding: @double * 2;
}

.clc-component-content-block {
	text-align: center;

	.image-position-left,
	.image-position-right {
		.clearfix;

		.image,
		.text {
			float: left;
			width: 50%;
			padding: @double;
		}

		.text {
			float: right;
		}
	}

	.image-position-right {

		.image {
			float: right;
		}

		.text {
			float: left;
		}
	}

	.title {
		display: block;
		margin: 0 auto;
		max-width: 20em;
		font-size: 40px;
		font-family: @font-alt;
		line-height: 50px;
		color: @primary;
		font-weight: @normal;
	}

	.content {
		display: block;
		margin: 0 auto;
		max-width: 20em;
		font-size: @font-base;;
		line-height: @line-base;
	}
}
