//
// Re-usable components
//

// Helper class to bold something
.luigi-first-word {
	display: inline-block;
	font-weight: @bold;
}

// Social icons menu
.luigi-social-menu {
	line-height: 0; // collapse space added by inline <ul>

	ul {
		&:extend(.unstyled_list);
		.clearfix();
		display: inline-block;
	}

	li {
		float: left;
		padding-right: @double;
		padding-bottom: @base;

		&:last-child {
			padding-right: 0;
		}
	}

	a {
		display: block;
		border: @border-line;
		color: @text-light;
		text-align: center;
		outline: 0;

		&:hover,
		&:focus {
			background: @primary;
			color: #fff;
			border-color: @primary;
		}
	}
}

// Dropdown caret
.luigi-caret-down {
	content: '';
	display: inline-block;
	position: relative;
	top: -2px;
	width: 0;
	height: 0;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	vertical-align: middle;
}

// Button
.luigi-button {
	display: inline-block;
	padding: @half @base;
	font-weight: @semibold;
	font-size: @font-tiny;
	line-height: @line-sml;
	background: @text;
	border: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;

	&:hover,
	&:focus {
		outline: 0;
		background: @primary-lift;
		color: @text;
	}

	&:active {
		background: @primary;
	}

	@media(min-width: @screen-sm) {
		padding: @base @double;
		font-size: @font-sml;
		line-height: @line-base;
	}
}

.luigi-button-primary {
	background: @primary;
	color: #fff;
}

.luigi-button-light {
	background: @bg;
	color: @text;
}

.luigi-button-wire {
	background: transparent;
	color: @text;
	border: 2px solid;
}

.luigi-button-sml {
	font-size: @font-tinier;
	line-height: @line-tinier;

	@media(min-width: @screen-sm) {
		padding: @half @double;
		font-size: @font-tinier;
		line-height: @line-tinier;
	}
}

.luigi-button-link {
	display: inline-block;
	font-weight: @semibold;
	font-size: @font-tiny;
	line-height: @line-tiny;
	text-decoration: none;
	text-transform: uppercase;
	color: @text;

	&:hover,
	&:focus {
		outline: 0;
		text-decoration: underline;
		color: @text;
	}
}

.luigi-button-link-primary {
	color: @primary;

	&:hover,
	&:focus {
		color: @primary-lift;
	}
}

.luigi-button-link-sml {
	font-size: @font-tinier;
	line-height: @line-tinier;
}

// Icons
.luigi-icon {
	display: inline-block;
	width: 1em;
	background-position: center center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.luigi-icon-location {
	background-image: url( @path-icon-location );
}

.luigi-icon-phone {
	background-image: url( @path-icon-phone );
}

.luigi-icon-contact {
	background-image: url( @path-icon-contact );
}

.luigi-icon-time {
	background-image: url( @path-icon-time );
}

.luigi-icon-date {
	background-image: url( @path-icon-date );
}

.luigi-icon-name {
	background-image: url( @path-icon-name );
}

.luigi-icon-party {
	background-image: url( @path-icon-party );
}

.luigi-icon-message {
	background-image: url( @path-icon-message );
}

.luigi-icon-w-location {
	background-image: url( @path-icon-w-location );
}

.luigi-icon-w-phone {
	background-image: url( @path-icon-w-phone );
}

.luigi-icon-w-contact {
	background-image: url( @path-icon-w-contact );
}

.luigi-icon-w-time {
	background-image: url( @path-icon-w-time );
}

// Search form
.search-form {
	margin-top: @triple;
	margin-bottom: @triple;

	label {
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: top;
	}

	.search-field {
		font-weight: @normal;
	}

	.search-submit {
		&:extend( .luigi-button all );
	}
}
