//
// Header
//
.site-header {
	&:extend(.container);
	position: fixed;
	top: 0;
	padding-left: @base;
	padding-right: @base;
	height: 50px;
	width: 100%;
	max-width: @screen-xl;
	text-align: left;
	background: @bg-lift;
	z-index: 999;

	.brand {
		position: relative;
		margin: 0;
	}

	.home-link {
		display: block;
		font-family: @font-alt;
		font-size: @font-logo-sml;
		font-weight: @normal;
		line-height: @line-logo-sml;
		color: @primary;
		text-decoration: none;
		white-space: nowrap;
		overflow-x: hidden;

		img {
			display: block;
			height: 46px;
			margin-top: 2px;
			max-height: 50px;
			max-width: 200px;
		}
	}

	.site-tagline,
	.bp-contact-card,
	.luigi-social-menu {
		display: none;
		padding-top: @base;
		padding-bottom: @base;
	}

	.site-tagline {
		font-size: @font-tiny;
		font-weight: @semibold;
		line-height: @line-sml;
		text-transform: uppercase;
	}

	.bp-contact-card {
		background: transparent;
		border: none;
		color: @text-light;
		font-size: @font-tiny;
		font-weight: @semibold;
		line-height: @double;

		.bp-phone {
			display: inline-block;
			margin: 0;
			padding-left: @triple;
		}
	}

	.primary-menu {
		display: none;
	}
}

.luigi-menu-open {
	overflow-y: hidden;

	.site-header {
		height: 100%;
		overflow-y: scroll;

		.site-tagline,
		.bp-contact-card,
		.luigi-social-menu,
		.primary-menu {
			display: block;
		}

		.primary-menu {
			margin-left: -@base;
			margin-right: -@base;

			a:hover,
			a:focus {
				background: @primary;
				color: #fff;
			}
		}
	}
}

.site-header {

	@media(min-width: @screen-sm) {
		position: relative;
		padding-left: @double;
		padding-right: @double;
		height: auto;
		background: transparent;
		text-align: center;
		z-index: auto;

		.row {
			position: relative;
			padding-top: @double;
		}

		.home-link {
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: auto;
			max-width: 7em;
			font-size: @font-logo;
			line-height: @line-logo;
			overflow-x: initial;

			img {
				margin: 0 auto;
				height: auto;
				max-width: none;
				max-height: 93px;
			}
		}

		.site-tagline,
		.bp-contact-card,
		.luigi-social-menu,
		.primary-menu {
			display: block;
		}

		.site-tagline {
			margin: -@double auto 0;
			max-width: 40em;
		}

		.bp-contact-card {
			float: left;
			margin-top: @double;
			padding: 0 0 10px;
			width: 50%;
			line-height: 32px;
			font-size: @font-sml;
			text-align: left;
		}

		.site-tagline {
			font-size: @font-sml;
			line-height: @line-sml;
		}

		.luigi-social-menu {
			float:  left;
			margin-top: @double;
			padding: 0; // Extra space on bottom is taken by <li>s
			width: 50%;
			text-align: right;
		}
	}

	@media(min-width: @screen-md) {

		.row {
			padding-bottom: @double;
		}

		.home-link,
		.site-tagline {
			max-width: 50%;
		}

		.bp-contact-card,
		.luigi-social-menu {
			position: absolute;
			top: 50%;
			left: 0;
			.transform( translateY(-50%) );
			margin: 0;
			max-width: 25%;
		}

		.luigi-social-menu {
			left: auto;
			right: 0;
			padding: 0;

			li  {
				padding-bottom: 0;
			}
		}
	}
}

// Button to open/close the navigation menu on small screens
#luigi-primary-nav-control {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	height: 50px;
	padding: @base;
	font-size: @font-tiny;
	font-weight: @semibold;
	text-transform: uppercase;
	line-height: @triple;
	background: @primary;
	color: #fff;
	text-decoration: none;

	@media(min-width: @screen-sm) {
		display: none;
	}
}

// Scroll away with the admin bar
.admin-bar .site-header {
	position: absolute;
	top: 46px;

	@media(min-width: @screen-sm) {
		position: relative;
		top: 0;
	}
}
