//
// Variables for common colors, sizing and more.
//

// Colors
@bg:                  #fafafa;
@bg-lift:             #fff;

@primary:             #9a8f45;
@primary-lift:        #ccc074;

@text:                #242424;
@text-light:          fadeout( @text, 50% );
@bg-dark:             fadeout( @text, 4% );

@border:              #b8b8b8;
@border-light:        #dfdfdf;

// Lines and edges
@border-line:         1px solid @border;
@border-line-light:   1px solid @border-light;
@radius:              5px;

// Typography
@font:                "Open Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
@font-alt:            "Bilbo Swash Caps", "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", serif;
@light:               300;
@normal:              400;
@semibold:            600;
@bold:                700;

@font-tiny:           14px;
@font-sml:            16px;
@font-base:           18px;
@font-lead:           24px;
@font-big:            30px;
@font-bigger:         36px;
@font-logo:           92px;
@font-logo-sml:       40px; // Fit the words on small screens

@line-tiny:           20px;
@line-sml:            20px;
@line-base:           25px;
@line-lead:           30px;
@line-big:            40px;
@line-bigger:         40px;
@line-logo:           92px;
@line-logo-sml:       50px; // Fit the words on small screens

// Baselines
@half:                5px;
@base:                10px;
@double:              20px;
@triple:              30px;
@quadruple:           40px;

// Breakpoints
@screen-xs:           480px;
@screen-sm:           768px;
@screen-md:           992px;
@screen-lg:           1200px;

// Paths
@path-img:            'assets/img/';
@path-icon-phone:     '@{path-img}icon_phone.png';
